.dash-content {
    background-color: #191919;
    height: 100%;
    justify-content: center;
    overflow: auto;
    display: block;
    align-items: center;
}

.img-card {
    margin: 10px;
    border: none;
    color: #cfcfcf;
    position: relative;
    display: inline-block;
}

.last-img {
    margin: 25px;
    border: none;
    color: #cfcfcf;
    position: relative;
    display: inline-block;
}

.last-img img {
    height: 400px;
    width: auto;
    border-radius: 10px;
}

.img-card img {
    height: 200px;
    width: auto;
    border-radius: 10px;
}

.page-name {
    color: #ffd400ff;
    font-size: 30px;
    text-align: center;
    display: block;
}

.page-name span {
    position: relative;
    display: block;
}

.cards {
    background-color: transparent;
    flex-wrap: wrap;
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
}

.text {
    align-items: center;
    justify-content: center;
    align-content: center;
    margin-left: 10px;
    font-size: 20px;
}

.text span {
    position: relative;
    display: block;
}

.notifications {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    padding: 20px;
    border-radius: 20px;
    margin: 30px auto;
    gap: 20px;
    max-width: 800px;
    width: 90%;
}

.latest-card img {
    width: 470px;
    height: 300px;
    border-radius: 20px;
    object-fit: cover;
    background-color: #ccc;
}

.update-text {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    color: #cfcfcf
}

.update-title {
    font-weight: bold;
    text-decoration: underline;
    font-size: 24px;
    margin-bottom: 10px;
}

.update-entry {
    margin-bottom: 8px;
}