.content {
    background-color: #191919; 
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    padding-bottom: 50px; 
}

.card {
    margin: 10px;
    background-color: transparent;
    border: none;
    border-radius: 10px;
}

.card img {
    height: 200px;
    width: auto;
    border-radius: 10px;
}

.title {
    color: #ffd400ff;
    font-size: 30px;
    text-align: center;
}

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    
}

.text span {
    align-items: center;
    justify-content: center;
    align-content: center;
    margin-left: 10px;
    font-size: 20px;
    background-color: transparent;
}

.notifications {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    padding: 20px;
    border-radius: 20px;
    margin: 30px;
    gap: 20px;
    max-width: 800px;
    width: 90%;
}

.latest-card img {
    width: 470px;
    height: 300px;
    border-radius: 20px;
    object-fit: cover;
    background-color: #ccc;
}

.update-text {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    color: #cfcfcf
}

.update-title {
    font-weight: bold;
    text-decoration: underline;
    font-size: 24px;
    margin-bottom: 10px;
}

.update-entry {
    margin-bottom: 8px;
}